body {
  background-color: #8fd892;
}
h1 {
  font-family: sans-serif;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.pic {
  width: 25%
}
